# Build / IDE
build/
sim/build/
.cache/
.vscode/
.idea/
*.o
*.a
*.d
compile_commands.json

# ESP-IDF
sdkconfig
sdkconfig.old
sdkconfig.ci
managed_components/
dependencies.lock

# LVGL Pro Editor local
ui/sim/
*.tmp

# OS
.DS_Store
ui/preview-bin/
